StarterGame/bin/Debug/net6.0/StarterGame.pdb
/.vs/StarterGame/CopilotIndices
/.vs
/StarterGame/obj
/.vs/StarterGame
/.vs/ProjectEvaluation
/.vs/StarterGame
/.vs/StarterGame/v17
.vs/StarterGame/v17/DocumentLayout.backup.json
.vs/StarterGame/v17/.suo
